{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>;.
}}
<div class="bg-gradient-to-br from-blue-50 via-white to-indigo-50">    

    <div class="max-w-4xl mx-auto px-2 py-8">
        <div class="">
            <p class="text-gray-600 mt-2 text-2xl">{{importsuccess}}</p>
            <p class="text-gray-600">{{message-success}}</p>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-8">
        <div class="bg-white rounded-xl p-6 shadow-md border border-slate-100 hover:shadow-lg transition-shadow">
            <div className="mb-3">
              <div className="inline-flex items-center justify-center w-10 h-10 rounded-lg bg-blue-100">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
                </svg>
              </div>
            </div>
            <p className="text-slate-500 text-sm font-medium">
              {{questionsimported}}
            </p>
            <p className="text-3xl font-bold text-slate-900 mt-1">
              {{total}}
            </p>
        </div>
        <div class="bg-white rounded-xl p-6 shadow-md border border-slate-100 hover:shadow-lg transition-shadow">
            <div className="mb-3">
              <div className="inline-flex items-center justify-center w-10 h-10 rounded-lg bg-blue-100">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                </svg>

                </svg>
              </div>
            </div>
            <p className="text-slate-500 text-sm font-medium">
              {{categoriescreated}}
            </p>
            <p className="text-3xl font-bold text-slate-900 mt-1">
              {{categories}}
            </p>
        </div>
    </div>
    
    <div class="text-center mb-4">
        <div class="spinner-border text-primary mb-3" role="status">
        </div>
            <p class="text-muted">{{redirecting}} <strong><span id="countdown"> 5 </span> </strong> {{seconds}} </p>
    </div>
    
    <div class="grid grid-cols-2 gap-4 mb-8">
        <a href="{{questionbankurl}}" class="btn btn-primary btn-lg mr-2">
            <i class="fa fa-question-circle"></i> {{gotoquestionbank}}
        </a>
        <a href="{{courseurl}}" class="btn btn-outline-secondary btn-lg">
            <i class="fa fa-home"></i> {{backtocourse}}
        </a>
    </div>
    
    <div class="max-w-4xl mx-auto mt-12 h-16 text-center">
        <p class="text-sm text-gray-700">{{footer}} - {{year}}</p>
    </div>
</div>

<script>
    let seconds = 10;
    const countdownEl = document.getElementById('countdown');
    const redirectUrl = '{{questionbankurl}}';

    const interval = setInterval(() => {
        seconds--;
        countdownEl.textContent = seconds;

        if (seconds <= 0) {
            clearInterval(interval);
            window.location.href = redirectUrl;
        }
    }, 1000);
</script>