name: Deploy Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Get plugin
        id: plugin_info
        run: |
          PLUGIN_NAME=$(basename "$(pwd)")
          echo "PLUGIN_NAME=$PLUGIN_NAME" >> $GITHUB_OUTPUT

          if [[ ${{ github.ref }} ]] == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION=$(date +%Y%m%d-%H%M%S)
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create Release
        id: startsWith(github.ref,'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: "*.zip"
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Upload artifact
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: plugin-${{steps.plugin_info.outputs.version}}
          path: "*.zip"